/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}


div::-webkit-scrollbar-thumb {
  background: #ccc;
}

textarea::-webkit-scrollbar-thumb {
  background: white
}
textarea::-webkit-scrollbar-track {
  background: #181818;
  }

div::-webkit-scrollbar-track {
  background: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background-color: #181818;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

main {
  min-height: 100vh;
 
}

.app {
  font-family: "montseratt", sans-serif;
  transition: 0.4 ease-out;
  color: white;
}

.bg-app {
  background-image: url('./assets/camp4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

header{
  color: white;
  width: 100%;
}

header .icon-menu {
  float: right;
  margin-right: 28px;
  width: 32px;
  margin-top: 32px;
}

.icon-menu:hover, .camp-h:hover {
  cursor: pointer;
}

header .camp-h{
  float: left;
  font-size: 29px;
  color: white;
  width: 150px;
  font-stretch: condensed;
  margin-left: 25px;
  margin-top: 30px;
}

.camp-h:hover {
  transform: scale(1.2);
  margin-left: 40px;
  color: #ccc;
}

.error-div {
  margin-top: 5vh;
  max-width: 70vw;
  font-size: 15px;
  font-style: italic;
  color: #ccc;
  font-stretch: condensed;

}

.icon-menu:hover {
  transform: scale(1.1);
}


.camp-div, .chat-div, .menu-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
  position: absolute;
  margin-top: 28vh;
  padding: 10px 0px 40px 0px;
  align-items: center;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.8);
  min-width: 87%;
  max-width: max-content;
  margin-left: 50%;
  transform: translateX(-50%);
}


.userlist {
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin-top: 30px;
  
  min-height: 25vh;
  width: 80%
}

.userlist p {
  margin-top: 1vh;
  font-size: 15px;
}

.menu-options {
  color: white;
  margin-top: 20px;
}

.menu-h {
  font-size: 19px;
  color: #ccc;
}

.menu-options p {
  color: white;
  padding: 11px;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.5);

}


.menu-options p:hover {
  color: #ccc;
  cursor: pointer;

}



.camp-div input {
  appearance: none;
  border: none;
  outline: none;
  font-size: 14px;
  color: black;
  width: 80%;
  background-color: white;
  padding: 15px;
  transition: 0.4s ease;
  height: 1px;

}

.camp-div input:focus {
  color: black;
}

.chat-div, .menu-div {
  margin-top: 18vh;
  min-height: 60%;
  width: 90%;
  max-width: 90%;
  max-height: 60%;  
}

.camp-name {
  position: absolute;
  left: 50%;
  color: #ccc;
  transform: translateX(-50%);
}

.chat-messages{
  overflow: hidden;
  overflow-x: hidden;
  height: 38vh;
  max-height: 38vh;
  position: relative;
  width: 63vw;
  max-width: 63vw;
  left: 50%;
  padding-right: 14vw;
  margin-top: 9vh;
  transform: translateX(-50%);
  text-align: left;
  word-break: break-word;
}

.msg-container {
  height: 38vh;
  max-height: 38vh;
  position: relative;
  width: 77.5vw;
  max-width: 77.5vw;
}

.chat-msg p {
  max-width: 70vw;
}

.menu-div {
  margin-top: 22vh;
  min-height: initial;
  min-width: 90vw;
  max-width: 90vw;
  border-radius: 0;
}



.msg-container::-webkit-scrollbar{
  display: none;
}

.msg-container::-webkit-scrollbar-track{
  background: #191919;
}

.chat-msg {
  margin-top: 20px;
  font-size: 18px;
}

#timeid {
  font-style: italic;
  margin-left: 9px;
  color: white;
}

#author, #connection-info {
  font-style: italic;
  font-size: 13px;
  color: #ccc;
}

#you #author {
  color: white;
}

#you #timeid {
  color: #ccc;
  }


#left {
  margin-left: 6px;
  font-style: italic;
  color: #ccc;
  font-size: 13px;
}

.chat-msg #author {
  margin-top: 10px;
}


.chat-input {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 35px;
}

.chat-input input {
  border: none;
  
  background: rgba(255, 255, 255, 0.1);
  color: white;
  outline: none;
  padding: 3px;

  font-size: 14px;
  transition: 0.4s ease;
}

.chat-input input::placeholder {
  display: none;
  opacity: 0;
}

.file-input {
  display: none;
}

.chat-messages .chat-msg {
  overflow-x: hidden;
  font-size: 15px;
}

.chat-msg .full-msg {
  margin-top: 0px;
}


.full-msg #message{
  display: flex;
  margin-top: 10px;
}


.chat-msg {
  display: flex;
}


.chat-msg .info-msg { 
 margin-top: 5px;
}

#connection-info {
  margin-left: 2px;
}

.info-msg #author {
  color: white;
}

.img {
  margin-top: 30px;
  display: flex;
  max-width: 70vw;
  border: 3px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.1);
}



@media(min-width: 640px){
  .img {
   max-width: 30vw;
   max-height: 100vh;
  }

  .bg-app{
    background-position-y: -65px;
  }

  header .camp-h {
    font-size: 36px;
  }

  header .icon-menu {
    width: 38px;
  }


  .camp-div {
    font-size: 20px;
  }

  .camp-div, .chat-div {
    margin-top: 27vh;
    min-width: 50%;
    max-width: 50%;
    overflow: hidden;
  }

  .chat-div{
    margin-top: 13vh;
    min-width: 60vw;
    max-width: 60vw;
    border-radius: 30px;
    min-height: 70vh;
  }

  .menu-div {
    margin-top: 20vh;
    min-height: initial;
    min-width: 45vw;
    max-width: 45vw;
    border-radius: 30px;
  }

  .userlist p {
    font-size: 16px;
  }

  .chat-messages {
    margin-top: 10vh;
    margin-left: 8vw;
    height: 55vh;
    max-height: 55vh;
    min-width: 55vw;
    max-width: 55vw;

  }

  .msg-container {
    height: 50vh;
    max-height: 50vh;
    position: relative;  
    min-width: 55vw;
    max-width: 55vw;
  }

  .chat-messages .chat-msg {
    overflow-x: hidden;
    font-size: 16px;
  }

  .chat-msg .full-msg {
    margin-top: 0vh;  }


  .full-msg #message{
    display: flex;
    margin-top: 2vh;
  }

  #you #message {
    width: fit-content;
  }

  #other{
    margin-left: 1vw;
    justify-content: flex-start;
  }

  #other p {
    max-width: 55%;
  }

  #timeid {
    font-size: 12px;
  }

  #you p {
    max-width: 60%;
  }

  #you #author {
    color: #ccc;
  }

  #you #timeid {
    color: white;
  }

  .menu-options p{
    font-size: 14px;
  }


  #you {
    text-align: right;
    margin-right: 2.2vw;
    justify-content: flex-end;
  }

  .chat-msg {
    display: flex;
  }

  .error-div {
    font-size: 19px;
  }

  .camp-div input{
    max-width: fit-content;
  }

  .chat-msg .info-msg {
    margin-top: 0px;
  }
}

@media(max-height: 600px){

  .empty-header {
    min-height: 10px;
  }

  .bg-app {
    background-size: cover;
    background-position-Y: -30px;
    background-size: 900px;
  }
  
  .chat-div, .camp-div, .menu-div {
    position: relative;
  }

  .menu-div {
    max-height: 52vh;
  }

  .camp-name {
    position: relative;
  }

  .empty-footer {
    min-height: 60px;
  }

  .chat-input { 
   bottom: 20px;
  }
 
  .chat-msg {
    margin-top: 1vh;
  }

  .chat-messages {
    height: 60vh;
    max-height: 70vh;

  }

  .msg-container {
    height: 50vh;
    max-height: 50vh;
    position: relative;  
  }

}

