/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f4f4f4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background-color: #181818;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

main {
  min-height: 100vh;
 
}

.app {
  font-family: "montseratt", sans-serif;
  transition: 0.4 ease-out;
  color: white;
}

.bg-app {
  background-image: url('./assets/camp4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header{
  color: white;
  width: 100%;
}

header .icon-menu {
  float: right;
  margin-right: 28px;
  width: 38px;
  margin-top: 32px;
}

.icon-menu:hover, .camp-h:hover {
  cursor: pointer;
}

header .camp-h{
  float: left;
  font-size: 35px;
  color: white;
  width: 150px;
  font-stretch: condensed;
  margin-left: 25px;
  margin-top: 30px;
}


.camp-div, .chat-div {
  display: flex;
  flex-direction: column;
  display: ;
  text-align: center;
  font-size: 24px;
  position: absolute;
  margin-top: 230px;
  padding: 10px 0px 40px 0px;
  align-items: center;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.9);
  min-width: 87%;
  max-width: max-content;
  margin-left: 50%;
  transform: translateX(-50%);
}

.camp-div input {
  appearance: none;
  border: none;
  outline: none;
  font-size: 15px;
  color: black;
  width: 80%;
  background-color: white;
  padding: 15px;
  transition: 0.4s ease;
  height: 1px;

}

.camp-div input:focus {
  color: black;
}

.chat-div {
  margin-top: 200px;
  height: 50%;
  width: 90%;
  max-width: 90%;
  max-height: 50%;
}

.chat-messages{
  overflow: hidden;
  overflow-x: hidden;
  height: 35vh;
  max-height: 35vh;
  position: relative;
  width: 60vw;
  max-width: 60vw;
  left: 50%;
  padding-right: 15vw;
  margin-top: 3vh;
  transform: translateX(-50%);
  text-align: left;
  word-wrap: break-word;
}

.msg-container {
  height: 35vh;
  max-height: 35vh;
  position: relative;
  width: 75vw;
  max-width: 75vw;

 
}

.msg-container::-webkit-scrollbar{
  display: none;
  margin-left: 10px;
}

.chat-msg {
  font-size: 19px;
}

#timeid {
  margin-left: 10px;
  color: white;
}

#author {
  font-style: italic;
  font-size: 14px;
  color: #ccc;
}

.chat-msg #author {
  margin-top: 10px;
}

.chat-msg p {
  max-width: 29vh;
  word-wrap: break-word;
}


.chat-input {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 44vh;
}

.chat-input textarea {
  margin-left: 20px;
  border: none;
  background: rgba(0, 0, 0, 0.0);
  color: white;
  outline: none;
  font-size: 15px;
  transition: 0.4s ease;
  padding: 30px;
  padding-bottom: 10px;
  resize: none;
}

.chat-input textarea::placeholder {
  color: white;
}



@media(min-width: 640px){
  .bg-app{
    background-position-y: -65px;
  }
}
